@import 'setup';

/* ----- CHANGE YOUR STYLES! -----*/
$mainColor: #12B4E9;
$backgroundColor: black;
$textColor: white;
$titleFont: 'againtsregular', 'Permanent Marker', sans-serif;
$bodyFont: 'Montserrat', sans-serif; // Don't forget to import if you want to change!

/* ----- Import that JS30 brand font -----*/
@font-face {
	font-family: 'againtsregular';
	src: url(../assets/againts.ttf);
} // Make sure you add the .ttf file to public/assets

/* ----- GLOBAL STYLES -----*/
body {
	//background-color: $backgroundColor;
	min-height: 100vh;
	font-size: 62.5%;
}

/* ----- HEADER STYLES -----*/
.carousel-cell {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
h1, .subtitle {
	text-align: center;
	margin: 0;
	font-family: $titleFont;
	color: $textColor;
}
h1 {
	font-weight: normal;
	font-size: 8rem;
}
h1 span {
	color: $mainColor;
	font-size: 10rem;
}
h1 .thirty {
	margin-left: 10px;
}
h1 .hashtag {
	font-size: 6rem;
}
.subtitle {
	font-size: 2.5rem;
}
.subtitle a {
	text-decoration: none;
	color: $mainColor;
	transition: color 0.1s ease-out;
}
.subtitle a:hover {
	color: $textColor;
}

/* ----- FLICKITY STYLES -----*/
.main-carousel {
	overflow: hidden;
}
.flickity-page-dots {
	position: absolute;
	top: 95%;
	left: 50%;
	bottom: auto;
	right: auto;
	transform: translateX(-50%);
}
.flickity-page-dots .dot {
	opacity: 1;
	background: white;
}
.flickity-page-dots .dot.is-selected {
	background: white;
}

/* ----- IFRAME STYLES -----*/
.pageContent {
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	// border: 3px solid $mainColor;
}