@import 'setup';

/* ----- CHANGE YOUR STYLES! -----*/
$mainColor: #12B4E9;
$backgroundColor: black;
$textColor: white;
$titleFont: 'againtsregular', 'Permanent Marker', sans-serif;
$bodyFont: 'Montserrat', sans-serif; // Don't forget to import if you want to change!

/* -----  -----*/
@font-face {
	font-family: 'againtsregular';
	src: url(../assets/againts.ttf);
} // Make sure you add the .ttf file to public/assets

/* ----- GLOBAL STYLES -----*/
body {
	background-color: $backgroundColor;
	min-height: 100vh;
	font-size: 62.5%;
}

/* ----- HEADER STYLES -----*/
h1, .subtitle {
	text-align: center;
	margin: 0;
	font-family: $titleFont;
	color: $textColor;
}
h1 {
	font-weight: normal;
	font-size: 6rem;
}
h1 span {
	color: $mainColor;
	font-size: 7.5rem;
}
h1 .thirty {
	margin-left: 10px;
}
h1 .hashtag {
	font-size: 4rem;
}
.subtitle {
	font-size: 2.5rem;
}
.subtitle a {
	text-decoration: none;
	color: $mainColor;
	transition: color 0.1s ease-out;
}
.subtitle a:hover {
	color: $textColor;
}
